@font-face {
  font-family: "NotoBold";
  src: url("../fonts/notosans-bold-webfont.eot");
  src: url("../fonts/notosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-bold-webfont.woff2") format("woff2"), url("../fonts/notosans-bold-webfont.woff") format("woff"), url("../fonts/notosans-bold-webfont.ttf") format("truetype"), url("../fonts/notosans-bold-webfont.svg#noto_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoItalic";
  src: url("../fonts/notosans-italic-webfont.eot");
  src: url("../fonts/notosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-italic-webfont.woff2") format("woff2"), url("../fonts/notosans-italic-webfont.woff") format("woff"), url("../fonts/notosans-italic-webfont.ttf") format("truetype"), url("../fonts/notosans-italic-webfont.svg#noto_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoRegular";
  src: url("../fonts/notosans-regular-webfont.eot");
  src: url("../fonts/notosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-regular-webfont.woff2") format("woff2"), url("../fonts/notosans-regular-webfont.woff") format("woff"), url("../fonts/notosans-regular-webfont.ttf") format("truetype"), url("../fonts/notosans-regular-webfont.svg#noto_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoLight";
  src: url("../fonts/notosans-light-webfont.woff2") format("woff2"), url("../fonts/notosans-light-webfont.woff") format("woff"), url("../fonts/notosans-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "NotoItalic";
}

h1 {
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.top-nav {
  position: relative;
  right: 15em;
  padding: 0.4em;
  margin: 2em;
  float: right;
}

.top-bar {
  position: fixed;
  width: 100%;
  opacity: 85%;
  font-family: "Notobold";
  background: #353f46;
}

.top-link {
  padding: 0;
  margin: 0 1.5em;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
}

.top-line {
  display: inline;
}

.logo {
  display: block;
  position: relative;
  top: 0.71em;
  right: -9em;
  padding: 0.5em 0;
  margin: 0;
  font-size: 1.5em;
  text-decoration: none;
}

.img-background {
  padding: 13em 0;
  background: url(../imgs/header.jpg);
  background-position: center;
  background-size: cover;
}

.tittle {
  text-align: center;
  color: #fff;
}

.services-section {
  background: #4bcaff;
}

.bar {
  width: 100%;
  font-family: "Notobold";
}

.medium-nav {
  position: relative;
  right: 15em;
  padding: 0.4em;
  margin: 2em;
  float: right;
}

.medium-link {
  padding: 0;
  margin: 0 1.5em;
  text-decoration: none;
  font-size: 1em;
  color: #353f46;
}

.portfolio {
  position: relative;
  right: -9em;
  padding: 1.3em 0;
  margin: 0;
  font-size: 1.5em;
  text-decoration: none;
}